@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/clash-display");

:root {
  background-color: #0c0c0e;
}
.intern-text {
  font-family: "Inter", sans-serif;
}
.clash-text {
  font-family: "Clash Display", sans-serif;
}
